<div class="container-two">
    <div id="containeraccent-two">
        <h2 class="connections">Your Connections</h2>
    </div>
    <div>
      <div class="icons-photo icons-small" >
        <img class="icons-photo icons-small" src="images/adrien-s.jpg" alt="Selfie of Adrien D">
        <h2>Adrien D</h2>
      </div>
      <div class="icons-photo icons-small">
        <img class="icons-photo icons-small" src="images/anne-s.jpg" alt="Selfie of Anne J">
        <h2>Anne J</h2>
      </div>
      <div class="icons-photo icons-small">
        <img class="icons-photo icons-small" src="images/alayne-s.jpg" alt="Selfie of Alayne T">
        <h2>Alayne T</h2>
      </div>
      <div class="icons-photo icons-small">
        <img class="icons-photo icons-small" src="images/arry-s.jpg" alt="Selfie of Arry Y">
        <h2>Arry Y</h2>
      </div>
    </div>
    <div class="container-twoplus">
    <a href="#">View More</a>
    </div>
</div> 