<div class="container">
    <div class="containeraccent">
    <img id="profilephoto" src="images/jane-m.jpg" alt="Selfie of Jane">
    </div>
    <h1>Jane Doe</h1>
    <div id="icons">
        <img id="icons" src="icons/map-marker.png" alt="Location icon">
        <h2>Seattle</h2>
    </div>
    <p>Developer | Engineer | Problem Solver</p>
    <p>Master of shadows and the Internet!</p>
    <div id="icons">
    <img id="icons" src="icons/gear.png" alt="">
    <a href="#">edit profile</a>
</div>
</div>