<div class="container-two">
    <div id="containeraccent-two">
        <h2>2 Connection Requests</h2>
    </div>
    <div class="icons-photo icons-small">
        <img class="icons-photo" src="images/todd-s.jpg" alt="Selfie of Todd E.">
        <h2 class="icons-photo">Todd E</h2>
        <img class="icons-small" src="icons/accept-circle.png" alt="Accept button">
        <img class="icons-small" src="icons/close-circle.png" alt="Decline button">
    </div>
    <div class="icons-photo icons-small">
        <img class="icons-photo" src="images/phil-s.jpg" alt="Selfie of Phil S.">
        <h2 class="icons-photo">Phil K</h2>
        <img class="icons-small" src="icons/accept-circle.png" alt="Accept button">
        <img class="icons-small" src="icons/close-circle.png" alt="Decline button">
    </div>
</div>